h1 {
    color: brown;
    border: solid;
}

p,h2 {
    color: navy;
    text-align: center;
    border: solid;
}

/** {
    border: solid;
}*/

a {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h5,img {
    border: solid;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}